//META{"name":"LineyLiney","description":"Liney Liney, Something goes here..","author":"Hearty","version":"0.5"}*//

/*
                                                                                                                                                                                                                                                                                                             
                                                                                                                                                                                                                                                                                                             
                                                        LLLLLLLLLLL               iiii                                                                   LLLLLLLLLLL               iiii                                                                                                                      
                                                        L:::::::::L              i::::i                                                                  L:::::::::L              i::::i                                                                                                                     
                                                        L:::::::::L               iiii                                                                   L:::::::::L               iiii                                                                                                                      
                                                        LL:::::::LL                                                                                      LL:::::::LL                                                                                                                                         
                                                          L:::::L               iiiiiiinnnn  nnnnnnnn        eeeeeeeeeeee  yyyyyyy           yyyyyyy       L:::::L               iiiiiiinnnn  nnnnnnnn        eeeeeeeeeeee  yyyyyyy           yyyyyyy                                                        
                                                          L:::::L               i:::::in:::nn::::::::nn    ee::::::::::::ee y:::::y         y:::::y        L:::::L               i:::::in:::nn::::::::nn    ee::::::::::::ee y:::::y         y:::::y                                                         
                                                          L:::::L                i::::in::::::::::::::nn  e::::::eeeee:::::eey:::::y       y:::::y         L:::::L                i::::in::::::::::::::nn  e::::::eeeee:::::eey:::::y       y:::::y                                                          
 ---------------  ---------------  ---------------        L:::::L                i::::inn:::::::::::::::ne::::::e     e:::::e y:::::y     y:::::y          L:::::L                i::::inn:::::::::::::::ne::::::e     e:::::e y:::::y     y:::::y         ---------------  ---------------  --------------- 
 -:::::::::::::-  -:::::::::::::-  -:::::::::::::-        L:::::L                i::::i  n:::::nnnn:::::ne:::::::eeeee::::::e  y:::::y   y:::::y           L:::::L                i::::i  n:::::nnnn:::::ne:::::::eeeee::::::e  y:::::y   y:::::y          -:::::::::::::-  -:::::::::::::-  -:::::::::::::- 
 ---------------  ---------------  ---------------        L:::::L                i::::i  n::::n    n::::ne:::::::::::::::::e    y:::::y y:::::y            L:::::L                i::::i  n::::n    n::::ne:::::::::::::::::e    y:::::y y:::::y           ---------------  ---------------  --------------- 
                                                          L:::::L                i::::i  n::::n    n::::ne::::::eeeeeeeeeee      y:::::y:::::y             L:::::L                i::::i  n::::n    n::::ne::::::eeeeeeeeeee      y:::::y:::::y                                                              
                                                          L:::::L         LLLLLL i::::i  n::::n    n::::ne:::::::e                y:::::::::y              L:::::L         LLLLLL i::::i  n::::n    n::::ne:::::::e                y:::::::::y                                                               
                                                        LL:::::::LLLLLLLLL:::::Li::::::i n::::n    n::::ne::::::::e                y:::::::y             LL:::::::LLLLLLLLL:::::Li::::::i n::::n    n::::ne::::::::e                y:::::::y                                                                
                                                        L::::::::::::::::::::::Li::::::i n::::n    n::::n e::::::::eeeeeeee         y:::::y              L::::::::::::::::::::::Li::::::i n::::n    n::::n e::::::::eeeeeeee         y:::::y                                                                 
                                                        L::::::::::::::::::::::Li::::::i n::::n    n::::n  ee:::::::::::::e        y:::::y               L::::::::::::::::::::::Li::::::i n::::n    n::::n  ee:::::::::::::e        y:::::y                                                                  
                                                        LLLLLLLLLLLLLLLLLLLLLLLLiiiiiiii nnnnnn    nnnnnn    eeeeeeeeeeeeee       y:::::y                LLLLLLLLLLLLLLLLLLLLLLLLiiiiiiii nnnnnn    nnnnnn    eeeeeeeeeeeeee       y:::::y                                                                   
                                                                                                                                 y:::::y                                                                                          y:::::y                                                                    
                                                                                                                                y:::::y                                                                                          y:::::y                                                                     
                                                                                                                               y:::::y                                                                                          y:::::y                                                                      
                                                                                                                              y:::::y                                                                                          y:::::y                                                                       
                                                                                                                             yyyyyyy                                                                                          yyyyyyy                                                                        
                                                                                                                                                                                                                                                                                                             
				 _       _                      __                    _____                   _         _____                               
     /\         | |     | |                    / _|                  |  __ \                 | |       / ____|                              
    /  \      __| |   __| |   ___    _ __     | |_    ___    _ __    | |  | |   __ _   _ __  | | __   | (___    _ __     __ _    ___    ___ 
   / /\ \    / _` |  / _` |  / _ \  | '_ \    |  _|  / _ \  | '__|   | |  | |  / _` | | '__| | |/ /    \___ \  | '_ \   / _` |  / __|  / _ \
  / ____ \  | (_| | | (_| | | (_) | | | | |   | |   | (_) | | |      | |__| | | (_| | | |    |   <     ____) | | |_) | | (_| | | (__  |  __/
 /_/    \_\  \__,_|  \__,_|  \___/  |_| |_|   |_|    \___/  |_|      |_____/   \__,_| |_|    |_|\_\   |_____/  | .__/   \__,_|  \___|  \___|
                                                                                                               | |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
                                                                                                               |_| 
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  
*/
.name-IbjUBS {
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
	text-align: center !important;
	font-weight: 700 !important;
}
.name-IbjUBS:before {
		content: "" !important;
		height: 2px !important;
		flex-grow: 1 !important;
		background: linear-gradient(to left, var(--blurple-sheer) 50%, transparent) !important;
		margin-right: 5px !important;
	}
.name-IbjUBS:after {
		content: "" !important;
		height: 2px !important;
		flex-grow: 1 !important;
		background: linear-gradient(to right, var(--blurple-sheer) 50%, transparent) !important;
		margin-left: 5px !important;
}
.membersGroup-v9BXpm {
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
	text-align: center !important;
	font-weight: 700 !important;
}
.membersGroup-v9BXpm:before {
		content: "" !important;
		height: 2px !important;
		flex-grow: 1 !important;
		background: linear-gradient(to left, currentColor 50%, transparent) !important;
		margin-right: 5px !important;
	}
.membersGroup-v9BXpm:after {
		content: "" !important;
		height: 2px !important;
		flex-grow: 1 !important;
		background: linear-gradient(to right, currentColor 50%, transparent) !important;
		margin-left: 5px !important;
}
.icon-WnO6o2{
	display:none !important;
}
#app-mount .panels-j1Uci_ {
    border-image: linear-gradient(90deg, #000, var(--blurple), #000) 1 !important;
}
.scroller-2FKFPG::-webkit-scrollbar-thumb,
.rolesList-22qj2L::-webkit-scrollbar-thumb,
#bd-settingspane-container .scroller-wrap .scroller::-webkit-scrollbar-thumb {
  border: none !important;
  background-color: transparent !important;
  background: linear-gradient(to bottom, transparent 0%, var(--blurple) 20%, var(--blurple) 80%,transparent 100%) !important;
  border-radius: 10px !important;
}
.addButton-1BORro.forceVisible-3iHxvH{
	display: none !important;
}
