//META{"name":"SpeakySpeaky","description":"Speaky Speaky, Something goes here..","author":"Hearty","version":"0.1"}*//
/*

                                                                                                                                                                                                                                                 
                                                                                                                                                                                                                                                 
   SSSSSSSSSSSSSSS                                                        kkkkkkkk                                            SSSSSSSSSSSSSSS                                                        kkkkkkkk                                    
 SS:::::::::::::::S                                                       k::::::k                                          SS:::::::::::::::S                                                       k::::::k                                    
S:::::SSSSSS::::::S                                                       k::::::k                                         S:::::SSSSSS::::::S                                                       k::::::k                                    
S:::::S     SSSSSSS                                                       k::::::k                                         S:::::S     SSSSSSS                                                       k::::::k                                    
S:::::S           ppppp   ppppppppp       eeeeeeeeeeee    aaaaaaaaaaaaa    k:::::k    kkkkkkkyyyyyyy           yyyyyyy     S:::::S           ppppp   ppppppppp       eeeeeeeeeeee    aaaaaaaaaaaaa    k:::::k    kkkkkkkyyyyyyy           yyyyyyy
S:::::S           p::::ppp:::::::::p    ee::::::::::::ee  a::::::::::::a   k:::::k   k:::::k  y:::::y         y:::::y      S:::::S           p::::ppp:::::::::p    ee::::::::::::ee  a::::::::::::a   k:::::k   k:::::k  y:::::y         y:::::y 
 S::::SSSS        p:::::::::::::::::p  e::::::eeeee:::::eeaaaaaaaaa:::::a  k:::::k  k:::::k    y:::::y       y:::::y        S::::SSSS        p:::::::::::::::::p  e::::::eeeee:::::eeaaaaaaaaa:::::a  k:::::k  k:::::k    y:::::y       y:::::y  
  SS::::::SSSSS   pp::::::ppppp::::::pe::::::e     e:::::e         a::::a  k:::::k k:::::k      y:::::y     y:::::y          SS::::::SSSSS   pp::::::ppppp::::::pe::::::e     e:::::e         a::::a  k:::::k k:::::k      y:::::y     y:::::y   
    SSS::::::::SS  p:::::p     p:::::pe:::::::eeeee::::::e  aaaaaaa:::::a  k::::::k:::::k        y:::::y   y:::::y             SSS::::::::SS  p:::::p     p:::::pe:::::::eeeee::::::e  aaaaaaa:::::a  k::::::k:::::k        y:::::y   y:::::y    
       SSSSSS::::S p:::::p     p:::::pe:::::::::::::::::e aa::::::::::::a  k:::::::::::k          y:::::y y:::::y                 SSSSSS::::S p:::::p     p:::::pe:::::::::::::::::e aa::::::::::::a  k:::::::::::k          y:::::y y:::::y     
            S:::::Sp:::::p     p:::::pe::::::eeeeeeeeeee a::::aaaa::::::a  k:::::::::::k           y:::::y:::::y                       S:::::Sp:::::p     p:::::pe::::::eeeeeeeeeee a::::aaaa::::::a  k:::::::::::k           y:::::y:::::y      
            S:::::Sp:::::p    p::::::pe:::::::e         a::::a    a:::::a  k::::::k:::::k           y:::::::::y                        S:::::Sp:::::p    p::::::pe:::::::e         a::::a    a:::::a  k::::::k:::::k           y:::::::::y       
SSSSSSS     S:::::Sp:::::ppppp:::::::pe::::::::e        a::::a    a:::::a k::::::k k:::::k           y:::::::y             SSSSSSS     S:::::Sp:::::ppppp:::::::pe::::::::e        a::::a    a:::::a k::::::k k:::::k           y:::::::y        
S::::::SSSSSS:::::Sp::::::::::::::::p  e::::::::eeeeeeeea:::::aaaa::::::a k::::::k  k:::::k           y:::::y              S::::::SSSSSS:::::Sp::::::::::::::::p  e::::::::eeeeeeeea:::::aaaa::::::a k::::::k  k:::::k           y:::::y         
S:::::::::::::::SS p::::::::::::::pp    ee:::::::::::::e a::::::::::aa:::ak::::::k   k:::::k         y:::::y               S:::::::::::::::SS p::::::::::::::pp    ee:::::::::::::e a::::::::::aa:::ak::::::k   k:::::k         y:::::y          
 SSSSSSSSSSSSSSS   p::::::pppppppp        eeeeeeeeeeeeee  aaaaaaaaaa  aaaakkkkkkkk    kkkkkkk       y:::::y                 SSSSSSSSSSSSSSS   p::::::pppppppp        eeeeeeeeeeeeee  aaaaaaaaaa  aaaakkkkkkkk    kkkkkkk       y:::::y           
                   p:::::p                                                                         y:::::y                                    p:::::p                                                                         y:::::y            
                   p:::::p                                                                        y:::::y                                     p:::::p                                                                        y:::::y             
                  p:::::::p                                                                      y:::::y                                     p:::::::p                                                                      y:::::y              
                  p:::::::p                                                                     y:::::y                                      p:::::::p                                                                     y:::::y               
                  p:::::::p                                                                    yyyyyyy                                       p:::::::p                                                                    yyyyyyy                
                  ppppppppp                                                                                                                  ppppppppp                                                                                                                                                                                                                                                                                                                                           


				  
				 _       _                      __                    _____                   _         _____                               
     /\         | |     | |                    / _|                  |  __ \                 | |       / ____|                              
    /  \      __| |   __| |   ___    _ __     | |_    ___    _ __    | |  | |   __ _   _ __  | | __   | (___    _ __     __ _    ___    ___ 
   / /\ \    / _` |  / _` |  / _ \  | '_ \    |  _|  / _ \  | '__|   | |  | |  / _` | | '__| | |/ /    \___ \  | '_ \   / _` |  / __|  / _ \
  / ____ \  | (_| | | (_| | | (_) | | | | |   | |   | (_) | | |      | |__| | | (_| | | |    |   <     ____) | | |_) | | (_| | | (__  |  __/
 /_/    \_\  \__,_|  \__,_|  \___/  |_| |_|   |_|    \___/  |_|      |_____/   \__,_| |_|    |_|\_\   |_____/  | .__/   \__,_|  \___|  \___|
                                                                                                               | |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
                                                                                                               |_| 

*/
:root {
  --blurple: rgb(78, 65, 117);
  --greyple: rgb(151, 168, 180);
  --blurple-sheer: rgba(160, 145, 228, 0.267);
  --blurple-sheer1: rgba(160, 145, 228, 1);
  --greyple-sheer: rgba(151, 168, 180, 0.267);
  --black-hole: url(https://images.all-free-download.com/images/graphicthumb/starry_night_192398.jpg);
  --stars: url(https://www.freeiconspng.com/uploads/twinkle-star-png-stars-9.png);
  --roundness: 50px;
  --uno: rgb(25, 25, 27);
  /* primary background color */
  --dos: rgb(30, 30, 33);
  /* secondary background color */
  --tres: rgb(35, 35, 39);
  /* tertiary background color */
  --quatro: rgb(16, 16, 17);
  /* quaternary background color */
  --sheer: rgba(0,0,0,0.6);
  --veil: rgba(100, 100, 100, 0.2);
}
.username-lm8y6T, .usernameSpeaking-2xbKKh {  /* Name default and speaking  */
	transition: all 1s ease; /* Transition from nameDefault and nameSpeaking for smooth change */
}
.avatarSpeaking-3MqCHL::before, .avatar-3elDyV::before { /* Before avatarSpeaking and avatarDefault, bar before avatar */
	transition: opacity 1s; /* Smooth opacity transition between avatarSpeaking and avatarDefault */
}
.avatarSpeaking-3MqCHL::after, .avatar-3elDyV::after {/* After avatarSpeaking and avatarDefault, gradient after avatar */
	transition: width 1s; /* Smooth width transition between avatarSpeaking and avatarDefault */
}


.avatarSpeaking-3MqCHL, .avatar-3elDyV, .avatarContainer-72bSfM { /* Avatar speaking, default and container */
	border-color: transparent !important; /* Remove border */
	box-shadow: none !important;  /* Remove shadow */
	position: relative;  /* Set to relative */
	z-index: 100;  /* Set Z-index to 100 for safety */
	transform-style: preserve-3d;  /* Fixes issue of avatar being pushed behind gradient */
}
.usernameSpeaking-2xbKKh{filter: brightness(200%)}  /* Set name brightness higher for visibility while speaking  */
.username-lm8y6T, .usernameSpeaking-2xbKKh {  /* Name default and speaking  */
	text-shadow: 2px 2px 2px #000000;  /* Set text shadow */
	position: relative;  /* Set relative */
	z-index: 100; /* Set Z-index to 100 for safety */
}
.avatarSpeaking-3MqCHL::before, .avatar-3elDyV::before { /* Before avatarSpeaking and avatarDefault, bar before avatar */
	content: ""; /* content reqiured to create ::before, set to nothing */
	position: absolute; /* Set absulute */
	width: 4px; /* Width of bar */
	height: 26px; /* Height of bar */
	bottom: -3px; /* -3 bottom to fit properly */
	left: -10px; /* -10 left to fit properly */
	background: var(--blurple-sheer1); /* Bar color, needs to be changed for color, as 'var(--sc)' is set in :root of my theme */
}
.avatarSpeaking-3MqCHL::before {opacity: .5 !important;} /* Set opacity to 0.5 when avatarSpeaking */
.avatar-3elDyV::before {opacity: 0;} /* Set opacity to 0 when avatarDefault */
.avatarSpeaking-3MqCHL::after, .avatar-3elDyV::after {/* After avatarSpeaking and avatarDefault, gradient after avatar */
	content: ""; /* content reqiured to create ::after, set to nothing */
	position: absolute; /* Set absulute */
	height: 26px; /*Height of bar before */
	bottom: -3px; /* -3 bottom to fit properly */
	left: -10px; /* -10 left to fit properly */
	background: linear-gradient(to right, var(--blurple) 0%, transparent 100%); /* gradient, needs to be changed for color, as 'var(--speakColor)' is set in :root of my theme */
	opacity: 0.5; /* Set opacity to 0.5 */
	transform: translateZ(-1px); /* Fixes issue of avatar being pushed behind gradient sets Z -1 */
}
.avatarSpeaking-3MqCHL::after {width:200px !important;} /* Set width to 265 pixels when avatarSpeaking */
.avatar-3elDyV::after {width: 0;} /* Set width to 0 pixels when avatarDefault */
